<body>
    <h2 class="header">Fragen?</h2>
<h3 class="side-description">Hier sind unsere meist gestellten Fragen:</h3>
<div class="container-content">

    <div #qc1 (click)="handleMenu(1)" class="question-container">
        <h3 class="question">Was ist ein athesischer Brunnen?</h3>
        <div class="background">
            <img #img1 src="/images/arrow-down.png" alt="">
        </div>
        <p #ans1 class="answer">Ein athesischer Brunnen ist eine spezielle Art von Brunnen, der Wasser aus
            unterirdischen Aquiferen an die Oberfläche drückt. Das Wasser steigt aufgrund des natürlichen Drucks in der
            unterirdischen Quelle ohne externe Pumpen oder mechanische Unterstützung. Dies geschieht typischerweise in
            Gebieten und es sorgt für eine konstante und
            zuverlässige Wasserquelle.</p>
    </div>
    <div #tl1 class="trennlinie"></div>

    <div #qc2 (click)="handleMenu(2)" class="question-container">
        <h3 class="question">Wie funktioniert ein athesischer Brunnen?</h3>
        <div class="background">
            <img #img2 src="/images/arrow-down.png" alt="">
        </div>
        <p #ans2 class="answer">Der athesische Brunnen funktioniert, indem er auf ein unterirdisches Wasservorkommen
            zugreift, das durch geologische Schichten von Gestein und Erde geschichtet ist. Der Druck im Aquifer
            bewirkt, dass das Wasser durch den Brunnen nach oben gedrückt wird, sobald eine Öffnung geschaffen wird.
            Dies ermöglicht es dem Wasser, ohne zusätzliche Energiezufuhr an die Oberfläche zu fließen.</p>
    </div>
    <div #tl2 class="trennlinie"></div>

    <div #qc3 (click)="handleMenu(3)" class="question-container">
        <h3 class="question">Welche Vorteile bietet ein athesischer Brunnen?</h3>
        <div class="background">
            <img #img3 src="/images/arrow-down.png" alt="">
        </div>
        <p #ans3 class="answer">Athesische Brunnen bieten mehrere Vorteile, darunter eine konstante Wasserversorgung,
            die oft frei von Verunreinigungen ist. Da sie ohne Pumpen funktionieren, sind sie auch energieeffizient und
            kostengünstig im Betrieb. Diese Brunnen können in landwirtschaftlichen Anwendungen, zur
            Trinkwasserversorgung oder zur Bewässerung eingesetzt werden und spielen eine wichtige Rolle in der
            Wasserversorgung.</p>
    </div>
    <div #tl3 class="trennlinie"></div>

</div>

<h2 class="header last-header">Wurden deine Fragen nicht beantwortet?</h2>
<h3 class="side-description last-side">Schreib uns einfach auf Instagram oder per Mail</h3>
<div class="container-symbols">
    <a class="img-insta" href="https://www.instagram.com/phileas.124/"> <img src="/images/instagram.png" alt="Instagram"> </a>
    <a class="img-mail" href="mailto:phileaswied06@gmail.com"> <img src="/images/mail.png" alt="Mail"> </a>
</div>
</body>
