<section>
    <div class="container-information">
        <div class="info infoText">
            <p>Hier wird ein informativer Text verfasst, den Richard für alle Leserinnen und Leser bereitstellt, um mehr
                über die Themen und Inhalte zu erfahren. Wir danken für das Interesse und hoffen, dass die Informationen
                hilfreich und aufschlussreich sind.</p>
        </div>
        <div class="info container-keepTouch">
            <p>Keep in touch</p>
            <div class="container-symbols">
                <a class="img-insta" href="https://www.instagram.com/phileas.124/"> <img src="/images/instagram.png" alt="Instagram"> </a>
                <a class="img-mail" href="mailto:phileaswied06@gmail.com"> <img src="/images/mail.png" alt="Mail"> </a>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-policies">
        <a href="">Privacy Policy</a> | <a href="">Icons from Flaticon</a> | <a href="">Partner with NABU</a>
    </div>
</section>