<div class="container-content">
    <h2>Unsere Protokolle</h2>

    <div class="protocol">
        <a href="/protocols/1.pdf" download>Download</a>
        <h3>Messungen der Temperaturen</h3>
        <p>Vom: 08.10.2024</p>
        <hr>
        <p class="description">
            Unser Team aus fünf Schülern hat die Wassertemperaturen an verschiedenen Stellen des
            Flusses gemessen. Zwei führten die Messungen durch, während die anderen die Werte notierten und den Standort
            dokumentierten. 
        </p>
    </div>

    <div class="protocol">
        <a href="/protocols/1.pdf" download>Download</a>
        <h3>Messungen der Temperaturen</h3>
        <p>Vom: 08.10.2024</p>
        <hr>
        <p class="description">
            Unser Team aus fünf Schülern hat die Wassertemperaturen an verschiedenen Stellen des
            Flusses gemessen. Zwei führten die Messungen durch, während die anderen die Werte notierten und den Standort
            dokumentierten. 
        </p>
    </div>

    <div class="protocol">
        <a href="/protocols/1.pdf" download>Download</a>
        <h3>Messungen der Temperaturen</h3>
        <p>Vom: 08.10.2024</p>
        <hr>
        <p class="description">
            Unser Team aus fünf Schülern hat die Wassertemperaturen an verschiedenen Stellen des
            Flusses gemessen. Zwei führten die Messungen durch, während die anderen die Werte notierten und den Standort
            dokumentierten. 
        </p>
    </div>

    <div class="protocol">
        <a href="/protocols/1.pdf" download>Download</a>
        <h3>Messungen der Temperaturen</h3>
        <p>Vom: 08.10.2024</p>
        <hr>
        <p class="description">
            Unser Team aus fünf Schülern hat die Wassertemperaturen an verschiedenen Stellen des
            Flusses gemessen. Zwei führten die Messungen durch, während die anderen die Werte notierten und den Standort
            dokumentierten. 
        </p>
    </div>

    <div class="protocol">
        <a href="/protocols/1.pdf" download>Download</a>
        <h3>Messungen der Temperaturen</h3>
        <p>Vom: 08.10.2024</p>
        <hr>
        <p class="description">
            Unser Team aus fünf Schülern hat die Wassertemperaturen an verschiedenen Stellen des
            Flusses gemessen. Zwei führten die Messungen durch, während die anderen die Werte notierten und den Standort
            dokumentierten. 
        </p>
    </div>

    
    
</div>