.container-nav {
    height: 20px;
    width: 100vw;
    background-color: #ededee;
    z-index: 998;
    position: relative;
}

nav {
    height: 80px;
    width: 100vw;
    background-color: #ededee;
    position: sticky !important;
    top: 0;
    z-index: 999;
}

.logo {
    height: 80px;
    width: 80px;
    position: absolute;
    top: 50%;
    left: 30vw;
    transform: translate(-50%, -50%);
}

.content {
    height: 80px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.menu {
    height: 80px;
    width: 80px;
    position: absolute;
    top: 50%;
    left: 70vw;
    transform: translate(-50%, -50%);
}

.content a {
    font-family: var(--font, sans-serif);
    color: black;
    text-decoration: none;
    height: 40px;
    width: 100px;
    text-align: center;
    line-height: 40px;
    border-radius: 25px;
}

.content a:hover {
    background-color: #e4e4e4;
}

.content .highlighted {
    background-color: var(--color, #346047);
    color: white;
}

.content .highlighted:hover {
    background-color: var(--color, #346047);
    color: white;
}

.container-menu img {
    height: 36px;
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.container-menu .menu-hover-img {
    width: 33px;
    height: 36px;
    opacity: 0;
}

.menu:hover {
    cursor: pointer;
}

.container-more {
    position: fixed;
    background-color: #ededee;
    height: 0px;
    width: 100%;
    z-index: -1;
    transition: height 0.5s ease-in-out;
}

.container-content {
    height: 200px;
    width: 800px;
    position: relative;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 0px;
    transition: margin-top 0.7s ease-in-out, opacity 1s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.container-content h2 {
    font-family: var(--font, sans-serif);
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 10px;
    width: 300px;
    color: #8f8f92;
}

.container-content h2:hover {
    cursor: default;
}

.container-content a {
    font-family: var(--font, sans-serif);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    color: #000;
}

.container-content a:hover {
    color: var(--accentColor, #346047);
}

/* .container-content still overlaps so the buttons wont work if it overlaps there */