<body>
    <div class="row-1">
        <div class="img-container img-1">
            <img src="/images/placeholder.png" alt="">
            <h3>Header</h3>
            <p>Irgendein Text der von Richard geschrieben wurde.</p>
        </div>
        <div class="img-container img-2">
            <img src="/images/placeholder.png" alt="">
            <h3>Header</h3>
            <p>Irgendein Text der von Richard geschrieben wurde.</p>
        </div>
        <div class="img-container img-3">
            <img src="/images/placeholder.png" alt="">
            <h3>Header</h3>
            <p>Irgendein Text der von Richard geschrieben wurde.</p>
        </div>
    </div>
    <div class="row-2">
        <h2>Unsere Messergebnisse</h2>
    </div>
</body>